.big {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.big h1 {
  width: 150px;
  margin: 0 auto;
}

.fir {
  width: 300px;
  margin: 15px auto;
}

.fir span {
  padding: 8px 50px;
  font-size: 14px;
  cursor: pointer;
}

.fir #aa {
  color: orangered;
  border-bottom: 2px solid orangered;
}

.fir .bb {
  color: gray;
}

.sec {
  width: 300px;
  margin: 15px auto;
  display: none;
}

.sec span {
  padding: 8px 50px;
  font-size: 14px;
  cursor: pointer;
}

.sec .aa {
  color: gray;
}

.sec #bb {
  color: orangered;
  border-bottom: 2px solid orangered;
}

.bgm {
  width: 1200px;
  height: 2300px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.bgm .mid, .bgm .midhot {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.bgm .mid .lef, .bgm .midhot .lef {
  width: 700px;
  float: left;
}

.bgm .mid .lef .one, .bgm .mid .lef .two, .bgm .mid .lef .three, .bgm .mid .lef .four, .bgm .mid .lef .five, .bgm .mid .lef .onea, .bgm .mid .lef .twoa, .bgm .mid .lef .threea, .bgm .mid .lef .foura, .bgm .mid .lef .fivea, .bgm .midhot .lef .one, .bgm .midhot .lef .two, .bgm .midhot .lef .three, .bgm .midhot .lef .four, .bgm .midhot .lef .five, .bgm .midhot .lef .onea, .bgm .midhot .lef .twoa, .bgm .midhot .lef .threea, .bgm .midhot .lef .foura, .bgm .midhot .lef .fivea {
  width: 640px;
  height: 380px;
  border-radius: 8px;
  position: relative;
  background-size: 640px 380px;
}

.bgm .mid .lef .one .one_1, .bgm .mid .lef .two .one_1, .bgm .mid .lef .three .one_1, .bgm .mid .lef .four .one_1, .bgm .mid .lef .five .one_1, .bgm .mid .lef .onea .one_1, .bgm .mid .lef .twoa .one_1, .bgm .mid .lef .threea .one_1, .bgm .mid .lef .foura .one_1, .bgm .mid .lef .fivea .one_1, .bgm .midhot .lef .one .one_1, .bgm .midhot .lef .two .one_1, .bgm .midhot .lef .three .one_1, .bgm .midhot .lef .four .one_1, .bgm .midhot .lef .five .one_1, .bgm .midhot .lef .onea .one_1, .bgm .midhot .lef .twoa .one_1, .bgm .midhot .lef .threea .one_1, .bgm .midhot .lef .foura .one_1, .bgm .midhot .lef .fivea .one_1 {
  width: 640px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 280px;
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

.bgm .mid .lef .one .one_1 .p1, .bgm .mid .lef .two .one_1 .p1, .bgm .mid .lef .three .one_1 .p1, .bgm .mid .lef .four .one_1 .p1, .bgm .mid .lef .five .one_1 .p1, .bgm .mid .lef .onea .one_1 .p1, .bgm .mid .lef .twoa .one_1 .p1, .bgm .mid .lef .threea .one_1 .p1, .bgm .mid .lef .foura .one_1 .p1, .bgm .mid .lef .fivea .one_1 .p1, .bgm .midhot .lef .one .one_1 .p1, .bgm .midhot .lef .two .one_1 .p1, .bgm .midhot .lef .three .one_1 .p1, .bgm .midhot .lef .four .one_1 .p1, .bgm .midhot .lef .five .one_1 .p1, .bgm .midhot .lef .onea .one_1 .p1, .bgm .midhot .lef .twoa .one_1 .p1, .bgm .midhot .lef .threea .one_1 .p1, .bgm .midhot .lef .foura .one_1 .p1, .bgm .midhot .lef .fivea .one_1 .p1 {
  color: gray;
  font-size: 14px;
  margin-top: 30px;
}

.bgm .mid .lef .one .one_1 .p1 img, .bgm .mid .lef .two .one_1 .p1 img, .bgm .mid .lef .three .one_1 .p1 img, .bgm .mid .lef .four .one_1 .p1 img, .bgm .mid .lef .five .one_1 .p1 img, .bgm .mid .lef .onea .one_1 .p1 img, .bgm .mid .lef .twoa .one_1 .p1 img, .bgm .mid .lef .threea .one_1 .p1 img, .bgm .mid .lef .foura .one_1 .p1 img, .bgm .mid .lef .fivea .one_1 .p1 img, .bgm .midhot .lef .one .one_1 .p1 img, .bgm .midhot .lef .two .one_1 .p1 img, .bgm .midhot .lef .three .one_1 .p1 img, .bgm .midhot .lef .four .one_1 .p1 img, .bgm .midhot .lef .five .one_1 .p1 img, .bgm .midhot .lef .onea .one_1 .p1 img, .bgm .midhot .lef .twoa .one_1 .p1 img, .bgm .midhot .lef .threea .one_1 .p1 img, .bgm .midhot .lef .foura .one_1 .p1 img, .bgm .midhot .lef .fivea .one_1 .p1 img {
  border-radius: 50%;
  width: 25px;
  vertical-align: middle;
}

.bgm .mid .lef .one .one_1 .p1 span, .bgm .mid .lef .two .one_1 .p1 span, .bgm .mid .lef .three .one_1 .p1 span, .bgm .mid .lef .four .one_1 .p1 span, .bgm .mid .lef .five .one_1 .p1 span, .bgm .mid .lef .onea .one_1 .p1 span, .bgm .mid .lef .twoa .one_1 .p1 span, .bgm .mid .lef .threea .one_1 .p1 span, .bgm .mid .lef .foura .one_1 .p1 span, .bgm .mid .lef .fivea .one_1 .p1 span, .bgm .midhot .lef .one .one_1 .p1 span, .bgm .midhot .lef .two .one_1 .p1 span, .bgm .midhot .lef .three .one_1 .p1 span, .bgm .midhot .lef .four .one_1 .p1 span, .bgm .midhot .lef .five .one_1 .p1 span, .bgm .midhot .lef .onea .one_1 .p1 span, .bgm .midhot .lef .twoa .one_1 .p1 span, .bgm .midhot .lef .threea .one_1 .p1 span, .bgm .midhot .lef .foura .one_1 .p1 span, .bgm .midhot .lef .fivea .one_1 .p1 span {
  font-size: 13px;
  color: orangered;
}

.bgm .mid .lef .one_2, .bgm .midhot .lef .one_2 {
  width: 640px;
  height: 60px;
  line-height: 60px;
  margin: 10px 0px;
  color: gray;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}

.bgm .mid .rig, .bgm .midhot .rig {
  float: left;
  width: 250px;
}

.bgm .mid .rig img, .bgm .midhot .rig img {
  margin-top: 15px;
  width: 250px;
}

.bgm .mid .rig h3, .bgm .midhot .rig h3 {
  padding: 15px 0px;
}

.bgm .mid .rig .jg, .bgm .midhot .rig .jg {
  border-left: 3px solid orangered;
  padding-left: 10px;
}

.bgm .mid .rig span, .bgm .midhot .rig span {
  color: gray;
  font-size: 13px;
  line-height: 20px;
}

.bgm .mid .rig .foc, .bgm .midhot .rig .foc {
  margin-top: 15px;
}

.zan {
  margin-top: -18px;
  float: right;
}

.zan span {
  color: gray;
  font-size: 14px;
}

.one {
  background: url(./../img/image/bg1.jpg) no-repeat;
}

.two {
  background: url(./../img/image/bg2.jpg) no-repeat;
}

.three {
  background: url(./../img/image/bg3.jpg) no-repeat;
}

.four {
  background: url(./../img/image/bg4.jpg) no-repeat;
}

.five {
  background: url(./../img/image/bg5.jpg) no-repeat;
}

.midhot {
  display: none;
}

.midhot .onea, .midhot .twoa, .midhot .threea, .midhot .foura, .midhot .fivea {
  margin-bottom: 15px;
}

.onea {
  background: url(./../img/image/bg8.jpg) no-repeat;
}

.twoa {
  background: url(./../img/image/bg7.jpg) no-repeat;
}

.threea {
  background: url(./../img/image/bg6.jpg) no-repeat;
}

.foura {
  background: url(./../img/image/bg4.jpg) no-repeat;
}

.fivea {
  background: url(./../img/image/bg5.jpg) no-repeat;
}

.bot .ing img {
  vertical-align: middle;
}

.bot .clc {
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  color: orangered;
}
