* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.big {
  width: 1200px;
  height: 5100px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.first {
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.first li {
  float: left;
  color: grey;
  font-size: 14px;
}

.mid {
  width: 1000px;
  margin: 0 auto;
}

.mid .lef {
  margin-top: 20px;
  width: 700px;
  height: 100%;
  float: left;
  background-color: white;
  padding: 30px 20px;
}

.mid .lef .left1 {
  border-bottom: 1px solid gray;
  height: 110px;
}

.mid .lef .left1 p {
  font-size: 24px;
}

.mid .lef .left1 span {
  font-size: 14px;
  color: gray;
}

.mid .lef .left1 .nam {
  margin-top: 30px;
}

.mid .lef .left1 .nam img {
  width: 30px;
  vertical-align: middle;
}

.mid .lef .left1 .nam #tim {
  margin-top: 8px;
  float: right;
}

.mid .lef .left2 {
  width: 640px;
  margin: 0 auto;
}

.mid .lef .left2 p {
  font-size: 16px;
  padding: 20px 0px;
}

.mid .lef .left2 h3 {
  text-align: center;
}

.mid .lef .left2 img {
  width: 640px;
}

.mid .lef .left2 .nex {
  font-size: 14px;
  color: gray;
}

.mid .rig {
  width: 230px;
  height: 110px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.mid .rig img {
  width: 30px;
}

.mid .rig .xin {
  position: relative;
  width: 110px;
<<<<<<< HEAD
  text-align: center;
  line-height: 120px;
  position: relative;
=======
  height: 110px;
  float: left;
>>>>>>> a4274e98121786f710e9df38684b63e86fc45e64
}

.mid .rig .xin #x1 {
  position: absolute;
  top: 30px;
  left: 40px;
}

.mid .rig .xin #x2 {
  position: absolute;
  display: none;
  top: 30px;
  left: 40px;
}

.mid .rig .xin .d1 {
  color: gray;
  position: absolute;
  left: 35px;
  top: 70px;
}

.mid .rig .share {
  position: relative;
  width: 110px;
<<<<<<< HEAD
  text-align: center;
  line-height: 120px;
  position: relative;
=======
  height: 110px;
  float: left;
  border-left: 2px solid #f7f7f7;
>>>>>>> a4274e98121786f710e9df38684b63e86fc45e64
}

.mid .rig .share #s1 {
  position: absolute;
  top: 30px;
  right: 40px;
}

.mid .rig .share #s2 {
  position: absolute;
  display: none;
  top: 30px;
  right: 40px;
}

.mid .rig .share .d2 {
  color: gray;
  position: absolute;
  right: 35px;
  top: 70px;
}

.mid .bshare-custom {
  width: 200px;
  height: 10px;
  position: absolute;
  top: 90px;
  left: 90px;
  display: none;
}
