*{
    list-style: none;
    padding: 0;
    margin: 0;
}
.big{
    width: 1200px;
    height: 5100px;
    margin: 0 auto;
    background-color: #f7f7f7;
}
.first{
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    li{
        float: left;
        color: grey;
        font-size: 14px;
    }
}
.mid{
    width: 1000px;
    margin: 0 auto;
    .lef{
        margin-top: 20px;
        width: 700px;
        height: 100%;
        float: left;
        background-color: white;
        padding:30px 20px;
        .left1{
            border-bottom: 1px solid gray;
            height: 110px;
            p{
                font-size: 24px;
               
            }
            span{
                font-size: 14px;
                color: gray;
            }
            .nam{
                margin-top: 30px;
                // overflow: hidden;
                #tim{
                    float: right;
                }
            }
            

        }
        .left2{
            width: 640px;
            margin: 0 auto;
           
            p{
                font-size: 16px;
                padding: 20px 0px;
            }
            h3{
               text-align: center;
            }
            img{
                width: 640px;       
                // margin-left: 15px;
            }
            .nex{
                font-size: 14px;
                color: gray;

            }
        }
    }
    .rig,.rigt{
        width: 230px;
        height: 110px;
        float: left;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 10px;
        background-color: white;
        img{
            width: 35px;
        }
        div{
            width: 110px;
            // float: left;
            text-align: center;
            line-height: 120px;
            position: relative;
            p{
                color: gray;
                position: absolute;
                left: 35px;
                top: 30px;
            }
        }
        .share{
            border-left: 2px solid #f7f7f7;
        }
 
    }

    .rig>img{
        width: 35px;
    }
    .xinh,.shareh{
        width: 110px;
        // float: left;
        text-align: center;
        line-height: 120px;
        position: relative;
        p{
            color: gray;
            position: absolute;
            left: 35px;
            top: 30px;
        }
    }
    .shareh{
        border-left: 2px solid #f7f7f7;
    }

}



.bshare-custom,.xinh,.shareh{

    display: none;
}
