@charset "UTF-8";

/* 顶部大图片 */
.picture {
  height: 300px;
  background-image: url(../img/css-img/original.jpg);
  background-position: -400px;
}

.picture .move {
  text-align: right;
  color: white;
  padding-top: 20px;
  padding-right: 50px;
  float: right;
  width: 400px;
  height: 200px;
  -webkit-animation: mov 1s;
  animation: mov 1s;
}

@-webkit-keyframes mov {
  0% {
    -webkit-transform: translate(100px, -100px);
    transform: translate(100px, -100px);
  }
}

@keyframes mov {
  0% {
    -webkit-transform: translate(100px, -100px);
    transform: translate(100px, -100px);
  }
}

.picture .move .p1 {
  font-size: 35px;
}

.picture .move .p2 span {
  display: inline-block;
  background-color: #d8d1d160;
  margin-left: 20px;
  margin-top: 20px;
}

.picture .move .p3 {
  margin-top: 20px;
}

.picture .move .btn11 {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  background-color: red;
  color: white;
  outline: none;
  border: 0px;
}

.rm {
  margin: 20px;
 transform: translateX(110px);
}

/* 轮播图*/
.lbt {
  width: 1000px;
  margin: 0 auto;
  height: 220px;
  overflow: hidden;
  font-size: 13px;
}

.lbt .ck {
  width: 3400px;
  height: 220px;
}

.lbt .ck div {
  float: left;
  width: 200px;
  height: 220px;
  margin: 0px 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.mid {
  width: 1000px;
  margin: 20px auto;
  height: 530px;
  overflow: hidden;
  background-color: #F7F7F7;
  position: relative;
}

h2 {
  margin-left: 23px;
}

.mid>span,
.mid_2>span,
.mid_3>span {
  position: absolute;
  color: red;
  right: 65px;
  top: 16px;
  font-size: 13px;
}

.mid>img,
.mid_2>img,
.mid_3>img {
  position: absolute;
  right: 45px;
  top: 20px;
}

.box {
  float: left;
  width: 200px;
  margin: 15px 25px;
  border-radius: 10px;
  height: 220px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

.lbt .ck div .po {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #e64141;
  width: 60px;
  text-align: center;
  border-radius: 5px;
}

.lbt .ck div .p11 {
  background-color: aqua;
}

.lbt .ck div img {
  width: 200px;
  -webkit-animation: guang 1s;
  animation: guang 1s;
}

.lbt .ck div .p1 {
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 12px;
}

.lbt .ck div span {
  position: absolute;
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  width: 50px;
  text-align: center;
}

.lbt .ck div .sp1 {
  left: 50px;
}

.lbt .ck div .sp2 {
  left: 110px;
}

.lbt .ck div .p2 .ps1 {
  position: absolute;
  top: 185px;
  left: 55px;
  color: red;
  border: 0px;
}

.lbt .ck div .p2 .ps {
  position: absolute;
  color: black;
  border: 0px;
  top: 185px;
  left: 85px;
}

.lbt .ck div .pp3 {
  position: absolute;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  color: red;
}

.box>img {
  width: 200px;
}

.box p {
  font-size: 13px;
  padding: 5px 8px;
}
.box>span{
  position: absolute;
  color: red;
  font-size: 16px;
  bottom: 15px;
  left: 10px;
}
.box>.nam {
  color: gray;
  font-size: 11px;
  position: absolute;
  top: 185px;
  left: 20px;
}
/* .nam>span{
  font-size: 35px;
 
} */
.zan {
  position: absolute;
  top: 180px;
  right: 20px;

}

.zan>img {
  width: 10px;
  height: 10px;
}

.zan>span {
  color: gray;
  font-size: 12px;
}

.mid_2 {
  width: 1000px;
  height: 270px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;

}

.mid_3 {
  width: 1000px;
  height: 1040px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  

}

.box>img:hover {
  animation: opc 1s infinite;
}

@keyframes opc {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.ing img {
  vertical-align: middle;
}

.clc {
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  color: orangered;
}

