.mid {
  width: 1000px;
  margin: 20px auto;
  height: 530px;
  overflow: hidden;
  background-color: #F7F7F7;
  position: relative;
}
h2{
  margin-left: 23px;
}
.mid>span,.mid_2>span,.mid_3>span{
  position: absolute;
  color: red;
  right: 65px;
  top: 16px;
  font-size: 13px;
}
.mid>img,.mid_2>img,.mid_3>img{
  position: absolute;
  right: 45px;
  top: 20px;
}

.box {
  float: left;
  width: 200px;
  margin: 15px 25px;
  border-radius: 10px;
  height:220px;
  border:1px solid #ccc;
  position: relative;
  overflow: hidden;
}

.box>img {
  width: 200px;
}

.box p {
  font-size: 13px;
  padding: 5px 8px;
}

.box>.nam {
  color: gray;
  font-size: 11px;
  position: absolute;
  top: 185px;
  left: 10px;
}
.zan{
  position: absolute;
  top: 180px;
  right: 20px;

}
.zan>img{
  width: 10px;
  height: 10px;
}
.zan>span{
  color: gray;
  font-size: 12px;
}
.mid_2{
  width: 1000px;
  height: 270px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;

}
.mid_3{
  width: 1000px;
  height: 1040px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;

}
.box>img:hover{
  animation: opc 1s infinite;
}

@keyframes opc{
  0%{
    opacity: 0.4;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.4;
  }
}
.ing img{
  vertical-align: middle;
}
.clc{
  width: 150px;
  margin: 0 auto;
}

