.top {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    height: 1050px;
    background-color: #f7f7f7;

  
    h1 {
        margin: 15px auto;
    }

    button {
        border: 0px;
        font-size: 16px;
        margin: 0px 20px;
        width: 100px;
        text-align: center;
        background-color: #fff;
    }

    .ull,
    .ull2 {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        display: none;
        li {
            float: left;
            height: 220px;
            width: 200px;
            margin: 10px 25px;
            border: 1px solid #ccc;
            position: relative;

            img {
                width: 200px;
                &:hover{
                    animation: opc 1s infinite;
                }
            }


            .p1 {
                font-size: 14px;
            }

            .sp1 {
                position: absolute;
                left: 10px;
                color: red;
                bottom: 20px;
            }

            .div {
                width: 100px;
                position: absolute;
                right: 5px;
                bottom: 22px;

                img {
                    width: 15px;
                    vertical-align: middle;
                }
            }
        }
    }
.ull{
    display: block;
}
    .ull3 {
        width: 1000px;
        margin: 20px auto;
        display: none;

        .sh,
        .hl {
            border: 1px solid;
            width: 1000px;
            height: 550px;
            margin-top: 30px;

            h2 {
                margin: 0 auto;
                transform: translateX(-450px);
                width: 100px;
                height: 50px;
                line-height: 50px;
                border-left: 5px solid red;
            }

            .u3_1 {
                width: 1000px;
                height: 300px;
                overflow: hidden;

                li {
                    float: left;
                    overflow: hidden;
                    height: 150px;
                    width: 200px;
                    text-align: center;
                    position: relative;

                    p {
                        margin-top: 10px;
                    }
                }
            }

            .u3_2 {
                width: 1000px;
                border-top: 1px solid;
                padding-top: 30px;
                overflow: hidden;

                li {
                    float: left;
                    margin-left: 50px;
                    margin-top: 20px;
                }
            }
        }
    }
  
}
.clc {
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
    color: orangered;
}
