.context{
    width: 1000px;
    margin: 50px auto 0px auto;
    height: 500px;
    background-color: #f7f7f7;
    .h2{
        border-left: 5px solid red;
        width: 200px;
        padding-left: 30px;
    }
    .hz{
        width: 600px;
        height: 500px;
        // background-color: aqua;
        margin: 0 auto;
        .box{
            margin: 25px auto;
            width: 500px;
            img{
                vertical-align: middle;
            }
            input{
                width: 400px;
                height: 40px;
                outline: none;
                border: 2px solid rgb(235, 232, 232);
                border-radius: 5px;
                background-color: rgb(248, 248, 246);
            }
            .sp1{
                display: inline-block;
                width: 150px;
                text-align: center;
                line-height: 40px;
                height: 40px;
                background-color: rgb(248, 248, 246);;
                border-radius: 10px;
                border: 1px solid rgb(235, 232, 232);;
            }
            #xym,#yzm{
                width: 200px;
            }
        }
        .btnn{
            width: 400px;
            height: 50px;background-color: red;
            margin: 0 auto;
            outline: none;
            border: 0px;
            border-radius: 10px;
        }
    }
}