.context {
  width: 1000px;
  margin: 50px auto 0px auto;
  height: 500px;
  background-color: #f7f7f7;
}

.context .h2 {
  border-left: 5px solid red;
  width: 200px;
  padding-left: 30px;
}

.context .hz {
  width: 600px;
  height: 500px;
  margin: 0 auto;
}

.context .hz .box {
  margin: 25px auto;
  width: 500px;
}

.context .hz .box img {
  vertical-align: middle;
}

.context .hz .box input {
  width: 400px;
  height: 40px;
  outline: none;
  border: 2px solid #ebe8e8;
  border-radius: 5px;
  background-color: #f8f8f6;
}

.context .hz .box .sp1 {
  display: inline-block;
  width: 150px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  background-color: #f8f8f6;
  border-radius: 10px;
  border: 1px solid #ebe8e8;
}

.context .hz .box #xym, .context .hz .box #yzm {
  width: 200px;
}

.context .hz .btnn {
  width: 400px;
  height: 50px;
  background-color: red;
  margin: 0 auto;
  outline: none;
  border: 0px;
  border-radius: 10px;
}
