* {
    list-style: none;
}
.big {
    width: 1000px;
    margin: 0 auto;
    h2 {
        padding-bottom: 8px;
    }
    .lef {
        margin-top: 30px;
        float: left;
        width: 200px;
        height: 300px;
        padding: 20px;
        border-radius: 5px;
        background-color: #f7f7f7;

        .part {
            width: 170px;
            border-top: 1px solid silver;
            h4 {
                margin-top: 10px;
            }
            li {
                padding: 0px 15px;
                line-height: 30px;
            }
        }
    }
    .rig {
        margin: 30px;
        float: left;
        width: 700px;
        padding: 20px;
        border-radius: 5px;
        background-color: #f7f7f7;
        .fre {
            width: 650px;
            padding: 0 15px;
            border-top: 1px solid silver;
            h4 {
                margin: 25px 0px;
            }
            li {
                line-height: 30px;
            }
        }
    }
}
